#================================audio related start========================================
#ifdef OPLUS_BUG_COMPATIBILITY
#Liang.Huang@PSW.MM.AudioDriver, 2020/10/23, Add for SIXTH
on post-fs-data
    chown system audio /dev/sia81xx_tuning_if
    chmod 0666 /dev/sia81xx_tuning_if
#enif
#================================audio related end==========================================
